* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

.toolbox-cont {
    height: 5rem;
    /* 80px */
    background-color: #4b4b4b;
    display: flex;
    align-items: center;
}

/* > * for all direct children of toolbox-cont */
.toolbox-cont>* {
    margin-left: 3rem;
}

.toolbox-priority-cont {
    width: 20rem;
    background-color: #3d3d3d;
    height: 3rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.color {
    height: 1.5rem;
    width: 3rem;
}

.color:hover {
    background-color: grey;
}

.lightpink {
    background-color: lightpink;
}

.lightgreen {
    background-color: lightgreen;
}

.lightblue {
    background-color: lightblue;
}

.black {
    background-color: black;
}

.action-btn-cont {
    height: 3rem;
    width: 8rem;
    background-color: #3d3d3d;
    display: flex;
}

.action-btn-cont>* {
    width: 50%;
    font-size: 1.75rem;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.add-btn:hover,
.remove-btn:hover {
    background-color: green;
    transition: all .3s ease-in;
}

.main-cont {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 2rem;
}

.ticket-cont {
    height: 12rem;
    width: 14rem;
    background-color: orange;
}

.ticket-color {
    height: 1rem;
    /* via JS.... */
    background-color: lightpink;
}

.ticket-id {
    background-color: yellow;
    height: 2rem;
}

.ticket-lock {
    display: flex;
    justify-content: flex-end;
    margin-top: 110px;
    margin-right: 8px;
    font-size: 1.5rem;

}


.modal-cont {
    height: 50vh;
    width: 50vw;
    position: absolute;
    background-color: lightgrey;
    top: 30%;
    left: 25%;
    display: none;
}

.textArea-cont {
    height: 100%;
    width: 70%;
    resize: none;
    border: none;
    outline: none;
    background-color: rgb(155, 150, 150, 0.6);
    color: #000;
    font-size: 20px;
}

.priority-colors-container {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    background-color: #4b4b4b;
    justify-content: space-around;
    align-items: center;
}

.priority-color {
    height: 2rem;
    width: 4rem;
}

.active {
    border: solid 4px goldenrod
}